wordle-keyboard {
    width: 100%;
    max-width: 500px;
    height: 275px;

    margin-top: 10px;

    display: grid;
    grid-template-columns: 1fr;
}

wordle-keyboard > .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin-top: 5px;

    gap: 5px;
}

wordle-keyboard > .row > .key {
    /* width: 35px; */
    flex-basis: calc(100% / 10 - 5px);
    min-width: 22px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;

    background: #2c3135;

    text-transform: uppercase;

    cursor: pointer;
    user-select: none;
}

wordle-keyboard > .row > .key.special {
    flex-basis: calc(100% / 4);
}

wordle-keyboard > .row > .key.invalid {
    background: var(--invalid);
}

wordle-keyboard > .row > .key.halfValid {
    background: var(--half-valid);
}

wordle-keyboard > .row > .key.valid {
    background: var(--valid);
}